
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,800;1,300&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
	
}

body{
	min-height: 100vh;
	background: linear-gradient(#2b1055, #7597de);
	
}

header{
	 display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
	position: relative;
	top: 0;
	left:0;
	width:100%;
	padding: 30px 100px;
	
	
	
	z-index: 2;
}

header .logo{
	
color:#fff;
font-weight: 700;
text-decoration: none;
font-size: 2em;
text-transform: uppercase;
letter-spacing: 2px;
	
}

header ul
{
	
	display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  flex-grow: 0;
}

header ul li
{
	
	 list-style: none;
  margin: 0 10px;
}

header ul li a {
	text-decoration: none;
	padding:25px;
	color: #fff;
}

header ul li a:hover, header ul li a:active {
	background: #fff;
	color: #2b1055;
	border-radius: 10px;
	
	
}



#home-logo
{
	
	border-radius: 5px;
	
}

section
{
	color: #fff;
	position:relative; 
	width: 100%;
	height:100vh;
	padding:150px;
}
section h1{
	
	text-align:center; 
	padding: 30px;
	font-size: 3em;
}

section h2{
	
	padding: 70px;
	padding-top: 300px; 
	font-size: 3em;
}

section img

{
position:absolute;
top: 0;
left:0;
width: 100%;
height: 100%;	
object-fit: cover;
mix-blend-mode:soft-light;
z-index: -1;
}
.row-container {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 auto;
  padding: 0 20px;
	
}
.row-container h1{
	
	color:#fff;
	
	
	
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tile {
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.tile img {
  display: block;
  max-width: 100%;
  transition: transform 0.3s ease-out;
}

.tile:hover img {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.tile img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}


.tile.view-more {
  background-color: #f2f2f2;
  text-align: center;
}

.tile.view-more a {
  display: block;
  padding: 10px;
	text-decoration: none;
}

.tile.view-more a:hover {
  background-color: #e6e6e6;
}

.tile.view-more a span {
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
}
  .tile a {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  .tile span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;  
    background-color: rgba(0, 0, 0, .9);
    color: #FFE9E9;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }

.parallax {
 
  background-image: url("assets/hype bg.jpg");
  color:#fff;
  min-height: 250px;
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
}

.parallax h1{
	
	font-size: 4em;
	padding-top: 250px;
	
}

.promo{
	
	 display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
	
}
.promo h1{
padding: 10px;
	justify-content: center;
	color:#fff;
}





 .slideshow {
	 
	display: flex;
	 justify-content: center;
align-items: center;
  position:relative;
  width: 80%;
  height: 200px;
   margin-left:  250px;
}

.slideshow img {
 align-item: center;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slideshow .slide.active {
  opacity: 1;
}

.slideshow .slide:first-child {
  opacity: 1;
}


footer {
  background-color: #2b1055;
  padding: 20px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
	color:#fff;
}
footer a{
 text-decoration: none;	
	color:#fff;
}

footer h2{
	 font-size: 24px;
  margin-bottom: 10px;
}

footer p{
	 font-size: 16px;
  margin-bottom: 5px;
}

.Contact {
  flex-grow: 1;
}
@media (max-width: 768px) {
  footer {
    flex-direction: column;
  }
  .copyright {
    margin-top: 20px;
  }
}


@media screen and (max-width: 768px) {
    header {
		
    padding: 15px;
  }

  header .logo {
    font-size: 1.5em;
  }

  header ul {
    flex-direction: column;
    align-items: flex-start;
  }

  header ul li {
    margin: 5px 0;
  }

  header ul li a {
    padding: 15px 10px;
  }

  section {
    padding: 50px;
  }

  section h1 {
    font-size: 2em;
  }

  section h2 {
    font-size: 2em;
    padding: 50px;
    padding-top: 150px;
  }

  .row-container h1 {
    font-size: 2em;
  }

  .tile img {
    width: 150px;
    height: 150px;
  }

  .tile span {
    font-size: 14px;
    padding: 5px;
  }

  footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  footer h2 {
    margin-top: 10px;
  }
}





/* CSS for screens with a width of 768px or more */
@media screen and (max-width: 768px) {
	
	  header {
    flex-direction: column;
    align-items: center;
  }
  div {
    margin-bottom: 20px;
    width: auto;
  }
  ul {
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
  }
  li {
    margin: 10px 0;
  }


	section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
	section h1 {
   padding-bottom: 50px;
		text-align: start;
  }
 
  
  
  .parallax {
    height: 400px;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  

  section {
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	   align-text: center;
  }
  
  h1 {
    font-size: 1em;
  }
  

  
 
  
  h2 {
    font-size: 3em;
    color: white;
    text-shadow: 1px 1px #000000;
  }
.promo {
    margin-top: 20px;
  }
	.slideshow {
	 
	display: flex;
	 justify-content: center;
align-items: center;
  position:relative;
  width: 80%;
  height: 200px;
   margin-left:  100px;
}
}

