@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



section{
	position: relative;
	width: 100%;
	height: 80vh;
	background: url("Aquarium.jpg");
	background-size: cover;
}


.wave{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100px;
	background: url("Wave.png");
	background-size: 1000px 100px;
	animation: animate 4s ease-in-out infinite;
	animation-delay: calc(var(--i) * 0.25s);
}
.wave#wave1{
	z-index: 1000;
	opacity: 1;
	background-position-x: 400px; 
}
.wave#wave2{
	z-index: 999;
	opacity: 0.5;
	background-position-x: 300px; 
}
.wave#wave3{
	z-index: 998;
	opacity: 0.2;
	background-position-x: 200px; 
}
.wave#wave4{
	z-index: 999;
	opacity: 0.7;
	background-position-x: 100px; 
}

@keyframes animate{
	0%,100%
	{
		transform: translateY(0px);
	}
	50%
	{
		transform: translateY(10px);
	}
}

div.center{
	text-align: center;
	margin: 100px;

}

.loop-video{
	width: 50% !important;
	height: 100%;
	padding: 0px;
	border: 10px solid black;
	
}

.container{
	text-align: center;
}

.sec{
	text-align: center;
	padding: 10px;
	margin: 100px;
}
.sec h2{
	font-size: 5em;
	color: #111;
	text-align: center;
}
.sec p{
	font-size: 26px;
	color: #111;
}



.header{
	position: sticky;
	top: 0;
	z-index: 999;
	background-color:#A2D3FF;
	opacity: 100%;
	width: 100%;
	
}


.header a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 4px 16px;
  text-decoration: none;
  font-size: 29px;
  margin: 20px 30px 20px 10px;
}

.header a.active {
  background-color: #485FEC;
  color: white;
}

.header input[type=text] {
  background: #A2D3FF;
  float: right;
  padding: 4px;
  margin-top: 27px;
  margin-right: 120px;
  font-size: 16px;
  border: 3px solid white;
}

.logo{
	width: 175px;
	position: relative;
	float: left;
	margin-left: 400px;
	opacity: 150%;
}

.footer-section {
  margin-left: 0.5rem;
  color: #999999;
  font-size: 14px;
  font-family: sans-serif;
}

hr {
	width: 100%;
	padding: 3px;
	background-color:white;
	border: #000000;
	
	
}