body {
  background-color: #f5f5f5;
}

.card-header {
  background-color: #007bff;
  color: #fff;
}

.card {
  border: 1px solid #007bff;
}

.btn-primary {
   
  background-color: #007bff;
  border-color: #007bff;
 padding: 10px 15px;
 margin-top: 10px;
 position:relative; left:400px; top:2px
}

#register{
 position:relative; left:200px; top:2px
}

.btn-primary:hover {
  background-color: #0062cc;
  border-color: #005cbf;
}

.form-group label {
  font-weight: bold;
}

.form-control {
  border-radius: 0;
}
